/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

html {
    overflow-y: scroll;
}

body {
    font-family: mostra-nuova, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: whitesmoke;
}

.modal-open {
    padding-right: 0px !important;
}
/* class for dev */
.ttt {
    border: solid 3px red;
}

.lead {
    color: #010015;
    padding-top: 2rem; /* padding for smaller screen sizes */
}

@media (min-width: 544px) {
    .lead {
        padding-top: 0;
        font-size: x-large;
    } /* no padding for bigger screen sizes */
}

.clean-fair {
    max-width: 90vw;
}
@media (min-width: 544px) {
    .clean-fair {
        max-width: 450px;
    }
}
.menu-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.menu-burger-close {
    height: 5rem;
}

ul.listing {
    font-size: large;
    color: #010015;
}

.lemon-navbar {
    background-color: #03002e;
}

.caption-front-page h1 {
    margin-top: 6vh;
    width: 300px;
}
.int {
    color: #465990;
    margin-top: 10px;

    text-decoration: none;
}
.int:hover {
    color: #03002e;
}

ul.modal-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.men {
    position: absolute;
    width: 100%;
    top: 10;
    right: 0;
    z-index: 99;
    padding: 5px;
    background-color: rgb(255, 255, 255, 0);
}

.line {
    border-bottom: 3px solid;
    border-bottom-color: #6d75a0;
    width: 50px;
}

.inv {
    color: #03002e;
    padding-top: 2rem;
}

h1 {
    color: whitesmoke;
    font-weight: 600;
}

.hr-carousel {
    margin: 0rem;
    border-top: 3px solid whitesmoke;
    background-color: whitesmoke;
    width: 10%;
}

a.carousel {
    font-size: 1.9rem;
    color: whitesmoke;
    text-decoration: none;
}
a.carousel:hover {
    color: #465990;
}

.brand {
    font-family: braisetto, script;
    font-style: normal;
    font-weight: 700;
    font-size: 6vh;
    color: whitesmoke;
}

.modal-title {
    /* font-family: braisetto, script; */
    /* font-weight: 500;
    font-size: 6vh; */
    color: whitesmoke;
}


h1.navbar-brand {
    font-family: braisetto, script;
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
    padding-left: 2rem;
    padding-bottom: 0 !important;
}

h1.navbar-brand a {
    color: whitesmoke;
    text-decoration: none;
}

h2 {
    color: #465990;
    font-weight: 700;
    font-size: 2.2rem;
    /*text-decoration: underline;*/
}

.header-muted {
    color: #465990;
    opacity: 1;
}

.learn {
    height: 40vh;
    background-color: #03002e;
    padding: 0 0 0 0;
}

.colors {
    color: #010015;
    color: #03002e;
    color: #050048;
    color: #060061;
    color: #465990;
    color: #03002e;
}

/* .modal-header {
    background-color: #03002e;
    color: white;
    border-bottom: 0;
    height: 15vh;
} */

.cocktail-modal-header {
    background-color: #465990;
    border-bottom: 0.5px solid #03002e;
}


/* .modal-content {
    background-color: #03002e;
} */

.cocktail-header{
    color:  #03002e;
}
.menu-modal-content {
    background-color: #03002e;
}

.cocktail-modal-content {
    background-color: white;
    border: none;
}

.cocktail-modal-body {
    color: #010015;
}

.btn-close-white-menu {
    position: relative;
    right: 4vh;
    top: 2vh;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}

.nav-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 12vh;
    padding-right: 0px !important;

}
.navbar_top_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.body-whitesmoke {
    background-color: whitesmoke;
}
.bi-arrow-return-right{
    fill: #465990;
}

.menu-btns:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.inside {
    background-color: #03002e;
}

.w-100-img {
    margin-top: 12vh;
}
.w-50 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ingredients{
    padding-top: 2em;
}

.recipe{
    padding-bottom: 2rem;
    border-bottom: 0.5px solid #03002e; 
}

.recipe-details{
    padding-top: 2em;
    padding-left: 2em;
}

.menu-modal-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /* establish flex container */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; /* make main axis vertical */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; /* center items vertically, in this case */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; /* center items horizontally, in this case */
    font-size: xx-large;
    font-variant: petite-caps;
    padding-top: 20vh;
}

.carousel-content {
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 40vh;
    vertical-align: middle;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.slak {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.slak object {
    min-height: 100%;
    min-width: 100%;
}
.products-carousel-imageholder {
    height: 80vh;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cocktails-carousel-svgholder {
    height: 80vh;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

object {
    max-height: 85%;
    width: auto !important;
}
.nav-link {
    color: whitesmoke;
    font-family: mostra-nuova, sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
}
.nav-link:focus,
.nav-link:hover {
    color: #465990;
}

.menu {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    overflow: hidden;
    height: 100vh;
}

.full {
    height: 100vh;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    overflow: hidden;
    /*object-fit: cover;*/
}

hr {
    color: #465990;
}

.container {
    margin-top: 8vh;
}

#main-carousel .carousel-item img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    overflow: hidden;
    height: 100vh;
}

#main-carousel .carousel-item:before {
    content: "";
    display: block;
    position: absolute;
    /*background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, .5)
    );*/
    width: 100vw;
    top: 0;
    height: 100vh;
    color: whitesmoke;
}

section {
    margin-top: 12vh;
}


.navbar-tree {
    max-width: 200px;
    max-height: 30vh;
}

.tree-container {
       display: flex;   
       justify-content: center; 
}

.after-diner {
    height: 40vh;
    margin-bottom: 4em;
}

/*products*/
#main-carousel-products-limoncello {
    height: 100vh;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.carousel-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#main-carousel-products-aranchello {
    height: 100vh;
    width: 100vw;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}
.carousel-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.carousel-item-product-text {
    padding-left: 20vw;
    padding-right: 20vw;

    padding-top: 2rem;
}
.caption-product {
    font-size: large;
    font-weight: 300;
}
.carousel-item-product-text {
    font-size: large;
    font-weight: 300;
}

.carousel-caption-dark {
    /*background-color:   hsla(225, 35%, 42%,.55);*/
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

    width: -webkit-fit-content;

    width: -moz-fit-content;

    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 20px;
}
.carousel-caption-dark:hover {
    color: hsl(225, 35%, 42%);
}
@media (min-width: 544px) {
    .carousel-item-product-text {
        padding-top: 2rem;
        font-size: x-large;
        padding-left: 30vw;
        padding-right: 30vw;
    }
}
.invert {
    background-color: #03002e;
    height: 100vh;
}

.invert-lead,
.int-invert {
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
}

.invert-line {
    border-bottom: 3px solid;
    border-bottom-color: whitesmoke;
    width: 10%;
}

h2.product {
    width: 100%;
    text-align: center;
}

.carousel-item {
    color: whitesmoke;
    text-align: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    height: 100%;
}

.footer {
    background-color: #03002e;
    color: whitesmoke;
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    padding: 10px;
    padding-left: 2em;
    padding-right: 2em;
}
.footer a {
    text-decoration: none;
    color: whitesmoke;
}

.footer p {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* ------------------------CONTACT--------------------------------*/
.contact-body {
    background-color: whitesmoke;
}

.contact-body .navbar_top_container {
    background-color: #03002e;
}

.contact-body section {
    margin: 0;
}
.contact-container {
    max-width: 100vw;
    overflow: hidden;
}
.head-holder{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-top: 20vh;
    margin-bottom: 2rem;
}
.contact-information-6-col {
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: whitesmoke;
    color: black;
    
    
    height: 60vh;
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
   
}

.contact-left{
    align-items: flex-start;
   
}

.contact-right{
    background-image: url(../images/tree.svg);
    padding-top: 8px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.contact-information-7-col form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    width: 100vw;
    min-height: 30vh;
}

.contact-information-7-col-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    background-color: #03002e;
    color: whitesmoke;
    height: 100vh;
    padding: 10vh;
}
.contact-information-7-col-bottom form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}
.form_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 601px;
}
.form_input_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 50px;
    width: 100%;
    border-top: 1px solid #cdcbc5;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.form_input_container_name {
    width: 50%;
    border-right: 1px solid #cdcbc5;
}
#question_name {
    width: 100%;
    border: none;
    background-color: transparent;
}

.form_input_container_subject {
    width: 50%;
    border-top: 1px solid #cdcbc5;
}
#question_subject {
    padding: 5px;
    width: 100%;
    border: none;
    background-color: transparent;
}

.form_input_container_email {
    border-top: 1px solid #cdcbc5;
    width: 100%;
}
#question_email {
    width: 100%;

    border: none;
    background-color: transparent;
}
.form_input_container_textarea {
    width: 100%;
}
.form_input_container_send {
    padding-top: 20px;
}
#question_textarea {
    border-top: 1px solid #cdcbc5;
    width: 100%;
    border-style: solid;
    border: none;
    background-color: transparent;
}
#register_email_form {
    width: 100vw;
    min-height: 40vh;
}
.register_email_form_container {
    height: 80vh;
}
.submit_question {
    padding: 0;
    background-color: #03002e;
    color: whitesmoke;
    width: 80%;
    max-width: 100px;
    max-height: 30px;
    margin: 5px;
    text-align: center;
}

.keep_tabs_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#register_email {
    width: 80%;
    max-width: 400px;
}
#subscribe_button {
    color: whitesmoke;
    background-color: #465990;

    border: 2px solid #465990;
    width: 80%;
    max-width: 150px;
}

.contact-information-7-col-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    width: 100vw;
}

a {
    text-decoration: none;
}
.contact-half-image img {
    width: 100%;
}

.contact-right-image {
    max-width: 70%;
}

/* ------------------------ABOUT--------------------------------*/

.navbar_about {
    background-color: #03002e;
}

.first_content {
    padding-top: 8vh;
}

@media (min-width: 768px) {
    .first_content {
        padding-top: 8vh;
    }
}

.last_section {
    margin-bottom: 12vh;
}

/* ------------------------ Find & Buy --------------------------------*/

.findandbuy_body {
    background-color: whitesmoke;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.findandbuy_body .navbar_top_container {
    background-color: #03002e;
}

.get_your_chello-container {
    max-width: 99vw;
    padding-top: 12vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;

    -ms-flex-pack: justify;

    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.get_your_chello {
    margin-top: 12vh;
    margin-bottom: 6vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 88vh;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    padding-left: 12vw;
    padding-right: 20px;
}

@media (max-width: 763px) {
    .get_your_chello {
        padding-left: 10px;
    }
    .get_your_chello .lead {
        padding-top: 2rem;
    }
}

.get_your_chello a {
    font-size: 1rem;
}

.cafe_cook {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 88vh;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 500px;
    flex: 1 1 500px;
    margin-right: -10px;
}

.cafe_cook img {
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 100%;
}
.we_serve_container {
    max-width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.we_serve {
    padding-top: 12vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 88vh;
}

.logo_holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100vw;
}
.logo_holder li {
    height: 40vh;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 160px;
    flex: 1 1 200px;
    margin: 10px;
    max-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo_holder img {
    display: block;

    max-width: 100%;
}

body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.map-container {
    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 88vh;
    text-align: center;
}
#map {
    width: 99vw;
    height: 100%;
}
.line-map {
    margin-bottom: 4vh;
}
.marker_content h1 {
    color: black;
}
#firstHeading {
    color: black;
}
#bodyContent {
    color: black;
}
